{% extends 'base.html' %}

{% load inclusion_tags %}
{% load simple_tags %}

{% block main_content %}

<section>

    <div class="search">
        <form method="get">

        {{ form }}
        <button type="submit">Search</button>
            </form>
    </div>

      <div class="section-title">
        <h2>Популярни книги</h2>
        <p>Най-обсъжданите заглавия този месец</p>
      </div>

    <div class="grid">

        {% for book in books %}
            {% books_short_info book %}
        {% empty %}
            <p>Няма налична информация за книги този месец.</p>
        {% endfor %}


        </div>

<div class="pagination">

        {% if page_obj.has_previous %}
                <a href="?{% get_parameters %}page={{ page_obj.previous_page_number }}">Предишна</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?{% get_parameters %}page={{ page_obj.next_page_number }}">Следващa</a>
            {% endif %}
        </div>

</section>

{% endblock %}