.margin{
    background-color: orange;
    
   
   
}
p{
    margin: 0 0 0 1em;
}

.c{
    text-align: center;
    margin: 10em;
    display: block;
    
    
}

.margin, .padding, .content, .border{
    
    width: 90%;
    height: 80%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    border: 1px dashed black;
}


.border{
    background-color: rgb(184, 177, 141);  
}

.padding{
    background-color: green;
}

.content{
    background-color: rgb(13, 93, 231);   
}
