@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap);

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Karla, sans-serif;
    font-size: 18px;
}

.logo{
    width: 7%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    align-items: center;
    height: 100vh;
    color: white;
    padding: 2em 4em;
    background-color: rgba(0, 0, 0, 0.466);
}


.header-wrapper{
    background-image: url(images/poster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
menu{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

menu ul{
    display: flex;
    flex-direction: row; 
    gap: 2em;
}

h1{
    font-family: Cormorant Infant, serif;
    font-size: 90px;
    padding-top: 3em;
    text-align: center;
    
}

header  p{
    display: flex;
    padding-bottom: 8em;
    padding-top: 8em;
    width: 40%;
    text-align: center;
    
    justify-content: center;
    margin: 0 auto;
}

.customer-testimonial{
    display: flex;
    flex-direction: column;
    background-color: #F8F0E9;
    justify-content: space-evenly;
    gap: 2em;
    padding: 2em;
}

.customer-testimonial p{
    display: inline-block;
    width: 65%;
    margin: 0 auto;
    
}

.customer-testimonial p:last-child{
    display: inline-block;
    font-family: Cormorant Infant, serif;
    font-size: 70px;
    font-style: italic;
    padding: 0.5em 0;
}

.support{
    display: flex;
    flex-direction: column;
    background-color: #E14747;
    color: white;
    height: 12em;
    justify-content: space-evenly;

}

.support p,
.support h3{
    display: block;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.articles{
    display: flex;
    flex-direction: column;
    background-color: #F8F0E9;
    height: 50em;
    justify-content: space-evenly;
    align-items: center;
}

.articles article img{
    width: 80%;
}

.articles img,
.articles .local,
.articles h2{
    width: 30%;
    
}

.articles h2{
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.more{
    display: block;
    align-self: flex-start;
    margin-top: 3em;
}

.articles button{
    padding: 0.2em 1em;
}

.find-now{
    display: flex;
    flex-direction: column;
    background-color: #E14747;
    height: 25em;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
}

.find-now h2,
.find-now p{
    width: 60%;
    text-align: center;
}

h2{
    font-family: Cormorant Infant, serif;
    font-size: 70px;
}

.find-now button{
    background-color: #FAD87A;
    padding: 1em;
    border-radius: 2em;
    border: none;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #352B2A;
    height: 15em;
    justify-content: space-evenly;
    align-items: flex-start;
    color: white;
    padding: 3em 7em;
    gap: 1em;
}

footer p{
    width: 50%;
}

footer img{
    width: 5%;
    margin-bottom: 1em;
}

.copyright{
    color: rgba(255, 255, 255, 0.475);
}