*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    font-weight: bold; 
}

body{
    margin: 2em;
    background-color: #EEEEEE;
}

.container{
   padding: 0.3em;
   border-radius: 0.3em;
    box-shadow: 0 0 1em  #c5c5c5;
    max-width: 1300px;
    margin: 0 auto;
    background-color: white;  
}

.calendar{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    border: 1px solid grey;
}

li, .reminders, .special, .weekend, .workweek{
    padding: 2em;
    border: 1px solid grey;
    border-collapse:collapse;
}

.dates{
    flex-grow: 5;
}

aside{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

li, .reminders, .special{   
    flex-grow: 1;
}

