.cont{
    border: 1px;
    border-radius: 0.3em;
    width: 23em;
    margin: 2em auto;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.1);
    display: block;
    
}

img{
    width: 100%;
    border: 1px;
    border-radius: 0.3em ;
}

section{
    margin: 1em 2.3em;
}

body{
    background-color: rgb(233, 233, 233);
}

*{
    font-family:  sans-serif;
    text-decoration: none;
    color: black;
    
}

.link{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2em;
    
}

p{
    margin-bottom: 2em;
}